//* COLORS VARS
$wine: #722222;
$wine-ligth: #af4c4c;
$gray: #dfd8ca;
$gray-ligth: #fbf3e4;
$bg: #dddddd;
$green: #105652;
$white: #ffffff;
$warning: #f7c336;
$info: #83bef5;

//* WIDTHs
$wFull: 100%;
$maxWidth: 1920px;

//! HEIGTHs
$hHeader: 55px;

//* MARGINS VARS
$bMargin: 16px;
$mMargin: 8px;
$mAround: 4px;

//* PADDGINS VARS
$pContent: 24px;
$pContainer: 16px;
$pComponent: 4px;

//* FONT SIZES
$vbgFont: 1.4em;
$bFont: 1.2em;
$mdFont: 1em;
$nFont: 1em;

//* BORDER VARS
$bradius: 4px;
$border: 2px;

//* BREAKPOINT
$brMaxWidth: 800px;
