//* COLORS VARS
$wine: #722222;
$wine-ligth: #af4c4c;
$gray: #dfd8ca;
$gray-ligth: #fbf3e4;
$bg: #dddddd;
$green: #105652;
$white: #ffffff;
$warning: #f7c336;
$info: #83bef5;

//* MARGINS VARS
$bMargin: 16px;
$mMargin: 8px;
$mAround: 4px;

//* PADDGINS VARS
$pContent: 24px;
$pContainer: 16px;
$pComponent: 4px;

//* FONT SIZES
$vbgFont: 2.4em;
$bFont: 2em;
$mdFont: 1.8em;
$nFont: 1.4em;
