//* COLORS VARS
$wine: #722222;
$wine-ligth: #af4c4c;
$gray: #bbb9b6;
$gray-ligth: #ece9e2;
$gray-dark: rgb(121, 120, 120);
$bg: #dddddd;
$green: #105652;
$white: #ffffff;
$black: #000000;
$warning: #f7c336;
$info: #83bef5;
$cbtnPrimary: #0d6efd;

//* WIDTHs
$wFull: 100%;
$maxWidth: 1920px;

//* ACTIONS BUTTONS SIZES
$wActionButton: 24px;
$hActionButton: 24px;

//! HEIGTHs
$nhHeader: 80px;
$hHeader: 55px;
$mhContent: 80vh;

//* MARGINS VARS
$bMargin: 16px;
$mMargin: 8px;
$mAround: 4px;

//* PADDGINS VARS
$pPages: 5%;
$pContent: 24px;
$pContainer: 16px;
$pComponent: 4px;

//* FONT SIZES
$vbgFont: 2.4em;
$bFont: 1.2em;
$mdFont: 1em;
$nFont: 1em;

//* FONT WEIGHTs
$fw-light: 500;

//* BORDER VARS
$bradius: 4px;
$border: 2px;

//* BREAKPOINT
$brMaxWidth: 800px;
