@use "vars";

.Header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: vars.$wFull;
    height: vars.$nhHeader;
    min-width: vars.$brMaxWidth;
    justify-content: space-between;
    align-items: center;
    padding: vars.$pContainer vars.$pComponent;
    background-color: vars.$wine;
    box-sizing: border-box;
}
.Header h1 {
    margin: 0 vars.$bMargin 0 0;
    padding: 0;
    font-size: vars.$mdFont;
    font-weight: 400;
    color: vars.$white;
}
@media screen and (max-width: vars.$brMaxWidth) {
    .Header {
        justify-content: center;
        height: vars.$hHeader;
    }
}
