@use "vars";

.InputText {
    position: relative;
    display: flex;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    min-height: 35px;
    margin: vars.$pContent vars.$mMargin;
    border-radius: vars.$bradius;
    box-sizing: border-box;
}
.InputText__label {
    position: absolute;
    top: vars.$pComponent;
    left: vars.$pComponent;
    color: vars.$gray-dark;
    font-size: vars.$nFont;
    font-weight: vars.$fw-lighter;
    -webkit-transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.InputText input {
    width: 100%;
    padding: 0 vars.$mMargin;
    font-size: vars.$nFont;
    font-weight: vars.$fw-lighter;
    color: vars.$green;
    outline: none;
    border: none;
    border-radius: vars.$bradius;
    &:focus {
        border: vars.$border solid vars.$green;
    }
}
.InputText input:not([disabled]):focus ~ .InputText__label,
.InputText.hasValue input:not([disabled]) ~ .InputText__label {
    color: vars.$green;
    font-weight: bold;
    -webkit-transform: scale(0.75) translateY(-33px) translateX(-5px);
    transform: scale(0.75) translateY(-33px) translateX(-5px);
}
