@use "vars";

.Layout {
    min-width: vars.$brMaxWidth;
    background-color: vars.$bg;
    box-sizing: border-box;
}
.Layout__pages {
    min-height: vars.$mhContent;
    padding: vars.$nhHeader vars.$pPages;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: vars.$bradius;
    background-color: vars.$gray-dark;
}
::-webkit-scrollbar-track {
    border-radius: vars.$bradius;
    background-color: vars.$white;
}
::placeholder {
    color: vars.$gray-dark;
    font-size: vars.$nFont;
    font-weight: vars.$fw-lighter;
}
