@use "vars";

.MobileMenu {
    position: absolute;
    top: vars.$hHeader;
    left: 0;
    width: 0;
    height: 0;
    min-width: vars.$brMaxWidth;
    padding: vars.$pContainer 0 0 vars.$pContainer;
    background-color: vars.$gray-dark;
    // transform: scale(0);
    animation-name: cornerToCorner;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: normal;
    box-sizing: border-box;
}
.MobileMenu .Navbar {
    display: flex;
    flex-direction: column-reverse;
}
@keyframes cornerToCorner {
    from {
        width: 100vw;
        opacity: 0;
    }
    to {
        height: 100vh;
        opacity: 1;
    }
}
