@use "vars";

%activeItem {
    cursor: pointer;
    background-color: vars.$wine-ligth !important;
}

.NavItem {
    width: fit-content;
    padding: calc(vars.$pComponent * 2);
    font-size: vars.$mdFont;
    color: vars.$white;
    background-color: vars.$wine;
    border-radius: vars.$bradius;

    &:hover {
        @extend %activeItem;
    }
}

.NavItem-active {
    @extend %activeItem;
}
