@use "vars";

.TblRow {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;

    &:hover {
        transform: scaleZ(1.5);
        transition-timing-function: ease;
        transition-duration: 0.2s;
        border: 1px solid vars.$gray-dark;
        box-shadow: 2px 2px 4px vars.$gray-dark;
    }
}
.col-2 {
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.col-5 {
    grid-template-columns: repeat(5, 1fr);
}
.col-6 {
    grid-template-columns: repeat(6, 1fr);
}
.col-7 {
    grid-template-columns: repeat(7, 1fr);
}
.TblRow--odd {
    background-color: vars.$gray-ligth;
}
.TblRow--even {
    background-color: vars.$gray;
}
